

h1{
    color: rgb(217, 133, 91);
    text-align: center;
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

.main{
    background-color: rgba(235, 251, 231, 0.433);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.projects-container{
    background-color: rgb(235, 251, 231);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
    
}

.project{
    padding: 1rem;
    align-self: center;
    text-align: center;
}

img{
    border-radius: 4%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

a{
    color: rgb(217, 133, 91);;
}